<footer class="  w-full transition-all duration-300 backdrop-blur-md  text-white py-6">
  <div class="container mx-auto px-10">
    
    <!-- Title -->
    <h2 class="text-2xl font-light">Get The Fresh Cart APP</h2>
    <p class="my-3 text-lg text-gray-300 font-light">We will send you a link, open it on your phone</p>

    <!-- Email and Button -->
    <div class="flex flex-col md:flex-row justify-between items-center w-full gap-3">
      <input type="text" placeholder="Email" class="input w-full bg-white/20 text-white placeholder-white/70 border border-gray-300 rounded-lg" />
      <button class="py-3 px-5 whitespace-nowrap rounded text-white bg-green-600 hover:bg-green-700 transition">
        Share App Link
      </button>
    </div>

    <div class="w-full my-4 h-[1px] bg-gray-400/30"></div>

    <!-- Payment Partners -->
    <div>
      <h4 class="pb-4 font-semibold">Payment Partners</h4>
      <div class="flex flex-wrap items-center gap-4">
        <img class="w-12 md:w-16" src="/images/amazon-pay.png" alt="Amazon Pay">
        <img class="w-12 md:w-16" src="/images/mastercard.webp" alt="Mastercard">
        <img class="w-12 md:w-16" src="/images/get-apple-store.png" alt="Apple Store">
        <img class="w-12 md:w-16" src="/images/get-google-play.png" alt="Google Play">
      </div>
    </div>

  </div>
</footer>