// Define a mixin for backdrop blur effect
@mixin backdrop-blur($blur: 5px) {
  backdrop-filter: blur($blur);
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: all 0.3s;
  @include backdrop-blur(7px);
  background-color: rgba(0, 0, 0, 0.7); // semi-transparent black
}

.navbar .logo {
  transition: transform 0.3s;
  &.scale-100 {
    transform: scale(1);
  }
  &.scale-90 {
    transform: scale(0.9);
  }
}

.navbar ul.desktop-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  @media (min-width: 1024px) {
    display: flex;
  }
}

.navbar-burger {
  display: flex;
  justify-content: space-between;
}

.navbar-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 80%; // Change navbar width
  max-width: 320px; // Optional: for smaller screens
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  overflow-y: auto;
  z-index: 60;
  display: none;
  transition: all 0.3s ease;
  &.hidden {
    display: none;
  }
  &.block {
    display: block;
  }
}

.navbar-menu .navbar-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-menu ul {
  list-style: none;
  margin-top: 1rem;
  padding: 0;
  & li {
    padding: 0.5rem;
    font-size: 1rem;
  }
  & li a {
    color: white;
    text-transform: capitalize;
    &:hover {
      color: #48bb78; // Green color on hover
    }
  }
}

.navbar-menu .navbar-close {
  cursor: pointer;
  svg {
    width: 24px;
    height: 24px;
    color: white;
  }
}

// For scrolled effect
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8); // Darker on scroll
  padding: 0.5rem 1rem;
}
