/* particles-background.component.css */
:host::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(1px);
  pointer-events: none;
}

.particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
