<section>
    <div class="mb-2">
        <div>
            <owl-carousel-o [options]="customOptions2">
                <ng-template carouselSlide>
                    <img class="w-full  " src="images/img1.avif" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img class="w-full  " src="images/img2.avif" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img class="w-full  " src="images/img3.avif" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img class="w-full  " src="images/img5.avif" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img class="w-full  " src="images/img6.avif" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img class="w-full  " src="images/img7.avif" alt="">
                </ng-template>
              </owl-carousel-o>

        </div>
    </div>
</section>
<section>
    <owl-carousel-o [options]="customOptions">
        @for (item of categoriesData; track item._id) {
            <ng-template carouselSlide >
                <img [src]="item.image" class="h-[260px] " [alt]="item.name">
                <h3 class="ms-10">{{item.name}}</h3>
              </ng-template>
        }
          </owl-carousel-o>
</section>
<div class="w-[90%] mx-auto my-5 flex justify-center">
    <input
      type="text"
      [(ngModel)]="productSearchText"
      placeholder="Search product name"
      class="input bg-white/20 text-white p-2 placeholder-white/70 border border-gray-300 rounded-lg w-[60%]"
    />
  </div>
<section class="w-[90%] mx-auto">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        @for (item of productsData.slice().reverse().slice(0, 12) | search : productSearchText ; track item._id) {
            <app-product-card [product]="item"></app-product-card>
        }
    </div>
</section>


