<h1 class="text-4xl font-bold text-center my-10 tracking-tight text-green-400">
  Featured Brands
</h1>
<section class="grid gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 px-4">

  <!-- Loop over categories -->
  @for (item of allBrands; track $index) {
    <div
      class="group rounded-xl shadow-lg hover:shadow-2xl transition-shadow duration-300 overflow-hidden flex flex-col items-center cursor-pointer"
    >
      <div class="w-full h-64 overflow-hidden">
        <img
          [src]="item.image"
          [alt]="item.name"
          class="w-full h-full object-cover transform group-hover:scale-105 transition-transform duration-300"
        />
      </div>
      <h2
        class="text-lg font-semibold text-white text-center py-4 group-hover:text-green-600 transition-colors duration-300"
      >
        {{item.name}}
      </h2>
    </div>
  }
</section>
